numpy==1.23.4
pandas==1.5.1
pefile==2022.5.30
Pillow==9.4.0
platformdirs==2.5.2
protobuf==3.20.3
pyarrow==11.0.0
pycparser==2.21
pydeck==0.8.0
Pygments==2.14.0
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
scikit-learn==1.2.2
scipy==1.10.1
streamlit==1.20.0
virtualenv==20.16.5

